@{
    ViewData["Title"] = "Aggiungi Uscita";
    Trip newTrip = new Trip();
}

<style>
    #myDropZone {
        border: 3px dashed #ccc;
        border-radius: 20px;
        background-color: #f9f9f9;
        min-height: 200px;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        color: #666;

        transition: border-color 0.3s ease-in-out;
        background-color: rgba(181, 181, 172, 0.15);
    }
    #myDropZone:hover {
        border-color: #aaa; 
    }
    .container{
        max-width: 70vw;

        margin: 0 auto;

        margin-top: 5vh;
    }
    #inputFieldsContainer{
        display: flex;
        flex-wrap: warp;
        justify-content: space-between;
    }
    #inputFieldsContainer input{
        min-width: 200px;
    }
    button {
      border: none;
      padding: 12px 24px;
      border-radius: 50px;

      font-weight: 600;
      color: #0077ff;
      background-color: #e0efff;

      margin: 0 auto;
      display: block;

      cursor: pointer;
    }

</style>

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form asp-controller = "Home" asp-action="AggiungiUscita" id="addTripForm" method="post" enctype="multipart/form-data">

        <div id = "inputFieldsContainer">
             <div class="form-group">
                <input type="text" id="tripName" name="tripName" class="form-control" placeholder="Titolo" @*required*@/>
             </div>
             <div class="form-group">
                <input type="date" id="tripDate" name="tripDate" class="form-control" placeholder="Data" @*required*@/>
             </div>
             <div class="form-group">
                <input type="text" id="tripDescription" name="tripDescription" class="form-control" placeholder="Descrizione" @*required*@/>
             </div>
        </div>
        <br />

        <input type="text" id="file" name="file" hidden/>

        <div class="dropzone" id="myDropZone"></div>
        <br />
        <button type="submit">Invia</button>
    </form>
</div>


<script src="~/lib/dropzone/dropzone.min.js"></script>
<script>
    Dropzone.options.myDropZone = {
        paramName: "file",
        uploadMultiple: false,
        maxFiles: 1,
        maxFilesize: 10, // Massima dimensione del file in MB
        acceptedFiles: ".jpeg,.jpg,.png,.gif",
        addRemoveLinks: true,
        dictDefaultMessage: "Trascina il file o fai clic per selezionarlo",
        url: "/Home/AggiungiUscita", // Aggiorna l'URL per puntare all'endpoint di caricamento del file

        init: function () {
            this.on("success", function (file, response) {
                // Imposta il valore dell'elemento input file con il nome del file caricato
                document.getElementById('file').value = file.name;

                // Azioni da eseguire dopo il caricamento del file, se necessario
                console.log("File caricato con successo: ", response.filePath);
            });
        }
    };

</script>
