@{
    ViewData["Title"] = "Aggiungi Uscita";
    Trip newTrip = new Trip();
}

<style>
    #myDropZone {
        border: 3px dashed #ccc;
        border-radius: 20px;
        background-color: #f9f9f9;
        min-height: 200px;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        color: #666;
        transition: border-color 0.3s ease-in-out;
        background-color: rgba(181, 181, 172, 0.15);
    }

        #myDropZone:hover {
            border-color: #aaa;
            cursor: pointer;
        }

    .container {
        max-width: 70vw;
        margin: 0 auto;
        margin-top: 5vh;
    }

    #inputFieldsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        #inputFieldsContainer input {
            min-width: 200px;
        }

    button {
        border: none;
        padding: 12px 24px;
        border-radius: 50px;
        font-weight: 600;
        color: #0077ff;
        background-color: #e0efff;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }

    .file-info-container {
        text-align: center;
        margin-bottom: 10px;
    }

        .file-info-container img {
            display: block;
            margin: 0 auto;
        }

        .file-info-container div {
            margin-top: 5px;
        }

    #tripDescription{
        min-height:100px;
        resize: none;
    }
</style>
    
<h1>@ViewData["Title"]</h1>

<div class="container">
    <form asp-controller="Home" asp-action="AggiungiUscita" id="addTripForm" method="post" enctype="multipart/form-data">
        <div id="inputFieldsContainer">
            <div class="form-group">
                <input type="text" id="tripName" name="tripName" class="form-control" placeholder="Titolo" />
            </div>
            <div class="form-group">
                <input type="date" id="tripDate" name="tripDate" class="form-control" placeholder="Data" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <textarea id="tripDescription" name="tripDescription" class="form-control" placeholder="Descrizione"></textarea>
        </div>
        <br />
        <input type="file" id="file" name="file" hidden />
        <div class="dropzone" id="myDropZone"
             ondragover="handleDragOver(event)"
             ondragenter="handleDragEnter(event)"
             ondragleave="handleDragLeave(event)"
             ondrop="handleDrop(event)"
             accept="image/*">
            Trascina il file o fai clic per selezionarlo (solo immagini)
        </div>
        <br />
        <button type="submit" id="submit">Invia</button>
    </form>
</div>

<script>
    function handleDragOver(event) {
        event.preventDefault();
        event.dataTransfer.dropEffect = "copy";
    }

    function handleDragEnter(event) {
        event.preventDefault();
        document.getElementById("myDropZone").classList.add("dragover");
    }

    function handleDragLeave(event) {
        event.preventDefault();
        document.getElementById("myDropZone").classList.remove("dragover");
    }

    function handleDrop(event) {
        event.preventDefault();
        document.getElementById("myDropZone").classList.remove("dragover");
        const files = event.dataTransfer.files;
        const imageFiles = Array.from(files).filter(file => file.type.startsWith('image/'));

        // Crea un oggetto FileList dai file
        const fileList = new DataTransfer();
        imageFiles.forEach(file => {
            fileList.items.add(file);
        });

        // Imposta i file selezionati nel campo di input file
        const fileInput = document.getElementById("file");
        fileInput.files = fileList.files;

        // Mostra le informazioni sui file
        showFiles(imageFiles);
    }

    function showFiles(files) {
        const dropZone = document.getElementById("myDropZone");
        dropZone.innerHTML = "";
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const fileName = file.name;
            const fileSize = file.size;

            const fileReader = new FileReader();
            fileReader.onload = function (event) {
                const fileImg = document.createElement("img");
                fileImg.src = event.target.result;
                fileImg.width = 100;

                const fileInfoContainer = document.createElement("div");
                fileInfoContainer.classList.add("file-info-container");

                fileInfoContainer.appendChild(fileImg);

                const fileInfo = document.createElement("div");
                fileInfo.textContent = `${fileName} (${fileSize} bytes)`;
                fileInfoContainer.appendChild(fileInfo);

                dropZone.appendChild(fileInfoContainer);
            }
            fileReader.readAsDataURL(file);
        }
    }
</script>
