@{
    ViewData["Title"] = "Commento Inviato";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>Il tuo commento è stato inviato ed è in attesa di essere approvato, puoi chiudere questa pagina</p>
</div>