@model List<Trip>

@{
    ViewData["Title"] = "Uscite Didattiche";
}

<style>

    img {
        width: 100%;
        border-radius: 12px;
        height: 400px;
        object-fit: cover;
    }   

    .container{
        max-width: 70vw;

        margin: 0 auto;

        margin-top: 5vh;
    }

    .card {
          
          background-color: white;

          border: 1px solid #bacdd8;

          padding: 8px;

          border-radius: 12px;
    }

    .name {
      font-size: 24px;
      font-weight: 600;

      margin-top: 16px;
    }

    p {
      font-size: 14px;
      color: #7f8c9b;
      line-height: 150%;
    }

    .card__details {
      padding: 16px 8px 8px 8px;
    }

    button {
      border: none;
      padding: 12px 24px;
      border-radius: 50px;

      font-weight: 600;
      color: #0077ff;
      background-color: #e0efff;

      margin: 0 auto;
      display: block;

      cursor: pointer;
    }

</style>
<div class="container">
    <h1>@ViewData["Title"]</h1>
     <main role="main" class="pb-5">
    @foreach (var trip in Model)
    {
          <div class="card">
          <img src="@trip.image">

          <div class="card__details">

            <div class="name">@trip.tripName</div>

            <p>@trip.tripDescription</p>
          </div>
          <button onclick="redirectLoginFirebase()">Lascia Recensione</button>
        </div>
    }
    <main/>
</div>


<script>
    function redirectLoginFirebase(){
        window.location.href = "/Home/LoginFirebase"
    }
</script>